fast-requesthandler-service/schemas/pacs008.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.02"
           xmlns:pacs="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.02"
           elementFormDefault="qualified">

  <!-- Document root element -->
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FIToFICstmrCdtTrf" type="pacs:FIToFICstmrCdtTrf"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- FI to FI Customer Credit Transfer -->
  <xs:complexType name="FIToFICstmrCdtTrf">
    <xs:sequence>
      <xs:element name="GrpHdr" type="pacs:GroupHeader"/>
      <xs:element name="CdtTrfTxInf" type="pacs:CreditTransferInfo" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Group Header -->
  <xs:complexType name="GroupHeader">
    <xs:sequence>
      <xs:element name="MsgId" type="pacs:Max35Text"/>
      <xs:element name="CreDtTm" type="xs:dateTime"/>
      <xs:element name="NbOfTxs" type="pacs:Max15NumericText"/>
      <xs:element name="SttlmInf" type="pacs:SettlementInfo"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Credit Transfer Information -->
  <xs:complexType name="CreditTransferInfo">
    <xs:sequence>
      <xs:element name="PmtId" type="pacs:PaymentIdentification"/>
      <xs:element name="IntrBkSttlmAmt" type="pacs:CurrencyAndAmount"/>
      <xs:element name="InstdAmt" type="pacs:CurrencyAndAmount"/>
      <xs:element name="Dbtr" type="pacs:Party"/>
      <xs:element name="DbtrAcct" type="pacs:CashAccount"/>
      <xs:element name="Cdtr" type="pacs:Party"/>
      <xs:element name="CdtrAcct" type="pacs:CashAccount"/>
      <xs:element name="RmtInf" type="pacs:RemittanceInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Payment Identification -->
  <xs:complexType name="PaymentIdentification">
    <xs:sequence>
      <xs:element name="InstrId" type="pacs:Max35Text"/>
      <xs:element name="EndToEndId" type="pacs:Max35Text"/>
      <xs:element name="TxId" type="pacs:Max35Text"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Currency and Amount (Singapore primary, extensible) -->
  <xs:complexType name="CurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="pacs:DecimalAmount">
        <xs:attribute name="Ccy" type="pacs:SupportedCurrency" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Party Information -->
  <xs:complexType name="Party">
    <xs:sequence>
      <xs:element name="Nm" type="pacs:Max140Text"/>
      <xs:element name="PstlAdr" type="pacs:PostalAddress" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Postal Address (Singapore primary, extensible) -->
  <xs:complexType name="PostalAddress">
    <xs:sequence>
      <xs:element name="Ctry" type="pacs:SupportedCountryCode"/>
      <xs:element name="AdrLine" type="pacs:Max70Text" minOccurs="0" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Cash Account -->
  <xs:complexType name="CashAccount">
    <xs:sequence>
      <xs:element name="Id" type="pacs:AccountIdentification"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Account Identification -->
  <xs:complexType name="AccountIdentification">
    <xs:sequence>
      <xs:element name="Othr" type="pacs:GenericAccountIdentification"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Generic Account Identification -->
  <xs:complexType name="GenericAccountIdentification">
    <xs:sequence>
      <xs:element name="Id" type="pacs:Max34Text"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Settlement Information -->
  <xs:complexType name="SettlementInfo">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="pacs:SettlementMethod"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Remittance Information -->
  <xs:complexType name="RemittanceInfo">
    <xs:sequence>
      <xs:element name="Ustrd" type="pacs:Max140Text"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Supported currencies (Singapore primary, extensible) -->
  <xs:simpleType name="SupportedCurrency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SGD"/>
      <!-- Future currencies can be added here -->
      <!-- <xs:enumeration value="MYR"/> -->
      <!-- <xs:enumeration value="THB"/> -->
    </xs:restriction>
  </xs:simpleType>

  <!-- Supported country codes (Singapore primary, extensible) -->
  <xs:simpleType name="SupportedCountryCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SG"/>
      <!-- Future countries can be added here -->
      <!-- <xs:enumeration value="MY"/> -->
      <!-- <xs:enumeration value="TH"/> -->
    </xs:restriction>
  </xs:simpleType>

  <!-- Decimal amount format -->
  <xs:simpleType name="DecimalAmount">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
      <xs:minInclusive value="0.01"/>
      <xs:maxInclusive value="999999999.99"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Common simple types -->
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SettlementMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLRG"/>
      <xs:enumeration value="RTGS"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema> 